.divclick{
    cursor:cell;     
    flex: 0 1 calc(33.333333% - 20px);
}


body {
    padding: 0;
  }
  
  .media-object {
    display: flex;
    flex-flow: row wrap;
  }
  
  .figure {
    flex: 1 1 20%;
    align-self: flex-start;
    order: 0;
  }
  
  .media-body {
    flex: 1 1 60%;
  }
  